name: theme

on:
  push:
    branches:
      - main
    paths:
      - theme/**
  pull_request:
    branches:
      - main
    paths:
      - theme/**
      - .github/workflows/theme.yml
      - .github/workflows/x-lib.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: read

jobs:
  x:
    uses: ./.github/workflows/x-lib.yml
    with:
      working-directory: theme
    secrets:
      GH_CACHIX: ${{ secrets.GH_CACHIX }}

  build-cli:
    runs-on: ${{ matrix.os }}
    name: build-cli / ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31

      - name: Setup Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: purpleclay
          authToken: "${{ secrets.GH_CACHIX }}"
          skipPush: false
          useDaemon: false

      - name: Build Theme
        run: nix build .#theme
