name: x-lib

on:
  workflow_call:
    inputs:
      working-directory:
        description: "The directory containing the Go module"
        required: true
        type: string
    secrets:
      GH_CACHIX:
        required: false

jobs:
  gofumpt:
    runs-on: ubuntu-24.04
    if: github.actor != 'renovate[bot]'
    name: gofumpt
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: purpleclay
          authToken: ${{ secrets.GH_CACHIX }}
          skipPush: true
          useDaemon: false

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: ${{ inputs.working-directory }}/go.mod
          cache: true

      - name: Format Check
        run: nix develop -c gofumpt -l ${{ inputs.working-directory }}/

  golangci-lint:
    runs-on: ubuntu-24.04
    if: github.actor != 'renovate[bot]'
    name: golangci-lint
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: purpleclay
          authToken: ${{ secrets.GH_CACHIX }}
          skipPush: true
          useDaemon: false

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: ${{ inputs.working-directory }}/go.mod
          cache: true

      - name: Lint
        working-directory: ${{ inputs.working-directory }}
        run: nix develop "$GITHUB_WORKSPACE" -c golangci-lint run

  test:
    runs-on: ubuntu-24.04
    name: test
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: purpleclay
          authToken: ${{ secrets.GH_CACHIX }}
          skipPush: true
          useDaemon: false

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: ${{ inputs.working-directory }}/go.mod
          cache: true

      - name: Run tests
        working-directory: ${{ inputs.working-directory }}
        run: nix develop "$GITHUB_WORKSPACE" -c go test -shuffle=on -race -vet=off ./...

  build:
    runs-on: ubuntu-24.04
    name: build
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: purpleclay
          authToken: ${{ secrets.GH_CACHIX }}
          skipPush: true
          useDaemon: false

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: ${{ inputs.working-directory }}/go.mod
          cache: true

      - name: Build
        working-directory: ${{ inputs.working-directory }}
        run: nix develop "$GITHUB_WORKSPACE" -c go build ./...
